:root {
  --bg-primary-color: rgba(129, 11, 255, 0.85);
  --secondary-color: #FFD700;
  --text-color: #fff;
  --bg-page: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: 0rem !important;
}
